{% extends 'layout.html' %}

{% block title %}Password Generator{% endblock %}

{% block style %}
    <style>
        form {
            max-width: 400px;
            margin: auto;
        }

        .copy-icon {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid">
        <h1 class="display-5 fw-bold">Password Generator</h1>
        <p class="col-md fs-4">Random password generator based on the options you choose.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('password_generator') }}" class="mt-3">
                <div class="mb-3">
                    <label for="length" class="form-label">Password Length:</label>
                    <input type="number" id="length" name="length" min="6" max="32" value="{{ length }}" class="form-control" required>
                </div>
    
                <div class="mb-3 form-check">
                    <input type="checkbox" id="use_lowercase" name="use_lowercase" class="form-check-input" {% if use_lowercase %}checked{% endif %}>
                    <label for="use_lowercase" class="form-check-label">Include Lowercase Letters</label>
                </div>
    
                <div class="mb-3 form-check">
                    <input type="checkbox" id="use_uppercase" name="use_uppercase" class="form-check-input" {% if use_uppercase %}checked{% endif %}>
                    <label for="use_uppercase" class="form-check-label">Include Uppercase Letters</label>
                </div>
    
                <div class="mb-3 form-check">
                    <input type="checkbox" id="use_digits" name="use_digits" class="form-check-input" {% if use_digits %}checked{% endif %}>
                    <label for="use_digits" class="form-check-label">Include Digits</label>
                </div>
    
                <div class="mb-3 form-check">
                    <input type="checkbox" id="use_special_characters" name="use_special_characters" class="form-check-input" {% if use_special_characters %}checked{% endif %}>
                    <label for="use_special_characters" class="form-check-label">Include Special Characters</label>
                </div>
    
                <button type="submit" class="btn btn-primary">Generate Password</button>
            </form>
        </div>
        <div class="col-md-6">
        {% if password %}
        <div class="mt-3">
            <p class="mb-2">Your generated password:</p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="generated-password">{{ password }}</span>
                <span class="input-group-text copy-icon" onclick="copyToClipboard('generated-password')" title="Copy to Clipboard" id="inputGroup-sizing-default"><i class="fas fa-clipboard"></i></span>
              </div>
        </div>
        {% endif %}            
        </div>
    </div>


    <!-- JavaScript code: Copy function -->
    <script>
        function copyToClipboard(elementId) {
            var passwordElement = document.getElementById(elementId);
            var textarea = document.createElement('textarea');
            textarea.value = passwordElement.innerText;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);

            var toast = new bootstrap.Toast(document.getElementById('copied-toast'));
            toast.show();
        }
    </script>

    <!-- Bootstrap Toast: Copied information -->
    <div id="copied-toast" class="toast position-absolute bottom-0 end-0" role="alert" aria-live="assertive" aria-atomic="true" style="margin-bottom: 20px; margin-right: 20px;">
        <div class="toast-header">
            <strong class="me-auto">Copied!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Password copied to clipboard!
        </div>
    </div>
{% endblock %}
